<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="x-icon" href="/images/logo.png">
	<title>Create New Account</title>
</head>
<body>
	<div>
		<h2>Hindalco Industries</h2> 
	</div>
	<div id="body">
		<form class="form-horizontal">
			<table style="align-items: center; width: 440px;" class="form-group ">
 				<br>
 				<tr >
 					<td style="width:100px;" class="center">Contact your system administrator to reset your password</td>
 				</tr>
			</table>
			<div style="margin-left:auto;margin-right:auto;width:0;display:inline;">
				<a href="/login"><input class="btn white"type="button" value="Go back to login" name="createnew"></a>
				<p style="display: inline;">&#xb7;</p>
				<a href="/register"><input class="btn white"type="button" value="Create New Account" name="createnew"></a>
			</div>
		</form>
	</div>
</body>

</html>