<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="icon" type="x-icon" href="/images/logo.png">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/javascript.js"></script>
	<title>Create New Account</title>
</head>
<body>
	<div id="header">
		<h2 style="text-align:center;padding-top:20px;">Hindalco Industries</h2> 
	</div>
	<div id="body" style="" style="align">
		<form method="GET" action="" class="form-horizontal">
			<table style="align-items: center; width: 440px;" class="form-group ">
 				<br><br>
 				<tr >
 					<td style="width:100px;" class="center">Welcome to Gate Pass Management System<br> Login or Sign Up for a new account</td>
 				</tr>
			</table>
			<div style="margin-left:auto;margin-right:auto;width:0;display: inline;">
				<a href="/login"><input class="btn white"type="button" value="Log In" name="createnew"></a>
				<p style="display: inline;" class="white">&#xb7;</p>
				<a href="/register"><input class="btn white"type="button" value="Create New Account" name="createnew"></a>
			</div>
		</form>
	</div>
</body>

</html>