<html>
<!-- Creates new account for employees -->
<head>
	<script type="text/javascript">
		var check = function() {
			if (document.getElementById('password').value ==
			document.getElementById('confirm').value && document.getElementById('password')!=0) {
			document.getElementById('message').style.color = 'green';
			document.getElementById('message').innerHTML = 'Passwords match';
			} else {
			document.getElementById('message').style.color = 'red';
			document.getElementById('message').innerHTML = 'Passwords do not match';
			}
		};
	</script>
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="x-icon" href="/images/logo.png">
	<title>Create New Account</title>
</head>
<body>
	<div>
		<h2>Hindalco Industries</h2> 
	</div>
	<div id="body">
		<form method="POST" action="/register" class="form-horizontal">
			<table class="form-group ">
 				<br>
 				<tr>
 					<td class="right">Name: </td>
 					<td><input class="form-control form-control-static has-feedback" type="text" name="name" placeholder="Enter your name" autofocus="enabled" onkeyup="capitalise('name')"></td>
 				</tr>
 				<tr>
 					<td class="right">Employee ID: </td>
 					<td><input class="form-control form-control-static" type="text" name="empid" placeholder="Enter your employee ID"></td>
 				</tr>
 				<tr>
 					<td class="right">Email: </td>
 					<td><input class="form-control form-control-static" type="email" name="username" placeholder="Enter your email"></td>
 				</tr>
 				<tr>
 					<td class="right">Password: </td>
 					<td><input class="form-control form-control-static"  type="password" name="password" id="password" placeholder="Enter your password"></td>
 				</tr>
 				<tr>
 					<td class="right">Confirm Password: </td>
 					<td><input class="form-control form-control-static has-feedback"  type="password" name="password2" id="confirm" value="" placeholder="Confirm your password" onkeyup="check()"></td>
				 </tr>
				<tr>
					<td class="right" id= "message"></td>
				</tr>
			</table>
			<div style="margin-left:auto;margin-right:auto;width:0;display: inline;">
				<button value="Sign Up" name="submit" placeholder="Submit" style="display: inline;" class="btn white">
					Sign Up
				</button>
				<p style="display: inline;">&#xb7;</p>
				<a href="/login"><input class="btn white"type="button" value="Login Using Existing Account" name="createnew"></a>
			</div>
		</form>
	</div>
</body>

</html>